In [1]:
import pandas as pd

# Read the file into a DataFrame, specifying the delimiter as '|'
df = pd.read_csv('data/weball24.txt', delimiter='|', header=None)

df.columns = [
    'CAND_ID', 'CAND_NAME', 'CAND_ICI', 'PTY_CD', 'CAND_PTY_AFFILIATION',
    'TTL_RECEIPTS', 'TRANS_FROM_AUTH', 'TTL_DISB', 'TRANS_TO_AUTH',
    'COH_BOP', 'cash_on_hand', 'CAND_CONTRIB', 'CAND_LOANS', 'OTHER_LOANS',
    'CAND_LOAN_REPAY', 'OTHER_LOAN_REPAY', 'DEBTS_OWED_BY', 'TTL_INDIV_CONTRIB',
    'CAND_OFFICE_ST', 'CAND_OFFICE_DISTRICT', 'SPEC_ELECTION', 'PRIM_ELECTION',
    'RUN_ELECTION', 'GEN_ELECTION', 'GEN_ELECTION_PRECENT', 'OTHER_POL_CMTE_CONTRIB',
    'POL_PTY_CONTRIB', 'CVG_END_DT', 'INDIV_REFUNDS', 'CMTE_REFUNDS'
]

df['election_type'] = df['CAND_ID'].str[0] #election
df['state'] = df['CAND_ID'].str[2:4]  # state is the 3rd and 4th characters
#df['district'] = df['CAND_ID'].str[4:6]  # district is the 5th and 6th characters (if applicable)

# fix double count
df['receipts'] = df['TTL_RECEIPTS'] - df['TRANS_FROM_AUTH']
df['disbursements'] = df['TTL_DISB'] - df['TRANS_TO_AUTH']

# if trans from and trans to > 0 than likely double count

print(df.head(10))

     CAND_ID                   CAND_NAME CAND_ICI  PTY_CD  \
0  H2AK00200       CONSTANT, CHRISTOPHER        C       1
1  H2AK01158               PELTOLA, MARY        I       1
2  H2AK00226                PALIN, SARAH        O       2
3  H2AK01083        BEGICH, NICHOLAS III        C       2
4  H4AK00156            DAHLSTROM, NANCY        C       2
5  H4AL01255  HOLMES, THOMAS BETHUNE MR.        C       1
6  H0AL01055         CARL, JERRY LEE, JR        I       2
7  H8AL02171          MOORE, FELIX BARRY        I       2
8  H0AL01097             AVERHART, JAMES        C       1
9  H0AL02202        HARVEY-HALL, PHYLLIS        C       1

  CAND_PTY_AFFILIATION  TTL_RECEIPTS  TRANS_FROM_AUTH    TTL_DISB  \
0                  DEM          0.00             0.00        0.00
1                  DEM    7541673.55        178500.00  5396920.40
2                  REP       3866.49             0.00    50246.07
3                  REP    1000590.29         17684.66   869275.72
4                  REP     912308.00        410665.18   594690.92
5                  DEM       8469.98             0.00     5968.95
6                  REP    2204868.99        547807.76  2586226.92
7                  REP     969981.71             0.00  1314556.55
8                  DEM       8876.56             0.00     6240.74
9                  DEM      16284.00             0.00     5610.17

   TRANS_TO_AUTH    COH_BOP  ...  GEN_ELECTION_PRECENT  \
0           0.00       0.00  ...                   NaN
1           0.00  691260.30  ...                   NaN
2           0.00   46379.58  ...                   NaN
3       17659.66   41233.99  ...                   NaN
4           0.00       0.00  ...                   NaN
5           0.00       0.00  ...                   NaN
6       27316.59  453897.82  ...                   NaN
7           0.00  462797.48  ...                   NaN
8           0.00     121.71  ...                   NaN
9           0.00     220.58  ...                   NaN

   OTHER_POL_CMTE_CONTRIB  POL_PTY_CONTRIB  CVG_END_DT  INDIV_REFUNDS  \
0                    0.00             0.00  06/30/2024           0.00
1              1104488.20          3020.04  07/31/2024       75267.02
2                    0.00             0.00  03/31/2023       -9152.50
3                 7000.00             0.00  08/30/2024        2385.00
4               259916.02             0.00  07/31/2024           0.00
5                   48.02             0.00  06/30/2024           0.00
6               595100.00             0.00  06/30/2024      193499.00
7               306035.76             0.00  06/30/2024           0.00
8                    0.00             0.00  06/30/2024           0.00
9                    0.00             0.00  02/21/2024           0.00

   CMTE_REFUNDS  election_type  state    receipts  disbursements
0           0.0              H     AK        0.00           0.00
1        2500.0              H     AK  7363173.55     5396920.40
2           0.0              H     AK     3866.49       50246.07
3           0.0              H     AK   982905.63      851616.06
4           0.0              H     AK   501642.82      594690.92
5           0.0              H     AL     8469.98        5968.95
6       84500.0              H     AL  1657061.23     2558910.33
7           0.0              H     AL   969981.71     1314556.55
8           0.0              H     AL     8876.56        6240.74
9           0.0              H     AL    16284.00        5610.17

[10 rows x 34 columns]

In [2]:
selected_columns = [
    'CAND_ID', 'CAND_NAME', 'CAND_ICI', 'receipts', 'disbursements', 
    'cash_on_hand', 'DEBTS_OWED_BY', 'election_type', 'state', 'CAND_PTY_AFFILIATION', 
]
df1 = df[selected_columns].copy()
# Calculate Net Cash Flow (Receipts - Disbursements)
df1['Net_Cash_Flow'] = df1['receipts'] - df1['disbursements']

def reverse_and_clean(name):
    return ' '.join(reversed(name.replace(',', '').split())).lower()

# Apply the conversion function to df1
df1['CAND_NAME'] = df1['CAND_NAME'].apply(reverse_and_clean)


df1

,CAND_ID,CAND_NAME,CAND_ICI,receipts,disbursements,cash_on_hand,DEBTS_OWED_BY,election_type,state,CAND_PTY_AFFILIATION,Net_Cash_Flow
0,H2AK00200,christopher constant,C,0.00,0.00,0.00,143180.09,H,AK,DEM,0.00
1,H2AK01158,mary peltola,I,7363173.55,5396920.40,2836013.45,0.00,H,AK,DEM,1966253.15
2,H2AK00226,sarah palin,O,3866.49,50246.07,0.00,0.00,H,AK,REP,-46379.58
3,H2AK01083,iii nicholas begich,C,982905.63,851616.06,172548.56,425000.00,H,AK,REP,131289.57
4,H4AK00156,nancy dahlstrom,C,501642.82,594690.92,317617.08,0.00,H,AK,REP,-93048.10
...,...,...,...,...,...,...,...,...,...,...,...
3761,S4WV00423,donald lindsay,O,9792.33,9792.33,0.00,0.00,S,WV,REP,0.00
3762,S4WY00188,mr d scott morrow,C,5371.20,1040.22,2130.98,0.00,S,WY,DEM,4330.98
3763,S0WY00137,mrs. marie cynthia lummis,I,347797.86,169662.45,353969.42,0.00,S,WY,REP,178135.41
3764,S4WY00162,reid rasner,C,1284150.64,1284150.64,0.00,0.00,S,WY,REP,0.00
3765,S6WY00068,a john barrasso,I,5262260.22,2646490.14,8140153.09,0.00,S,WY,REP,2615770.08

In [3]:
duplicate_names = df1[df1.duplicated(subset=['CAND_NAME'], keep=False)]
duplicate_names

,CAND_ID,CAND_NAME,CAND_ICI,receipts,disbursements,cash_on_hand,DEBTS_OWED_BY,election_type,state,CAND_PTY_AFFILIATION,Net_Cash_Flow
25,H2AL03032,michael rogers,I,2073437.72,1506926.78,1710460.39,0.0,H,AL,REP,566510.94
34,H0AL05163,mo brooks,I,0.00,1968.66,0.00,0.0,H,AL,REP,-1968.66
55,H2AR04083,thomas cotton,C,1533544.85,1969450.70,7553928.28,73959.0,H,AR,REP,-435905.85
65,H4AZ01202,andrei cherny,C,2454522.84,1787912.98,690717.21,150000.0,H,AZ,DEM,666609.86
90,H4AZ07043,ruben gallego,I,31069310.87,25433423.71,8192840.83,0.0,H,AZ,DEM,5635887.16
...,...,...,...,...,...,...,...,...,...,...,...
3745,S6WI00152,norman phillip anderson,C,45185.44,27590.55,17594.89,13850.0,S,WI,LIB,17594.89
3747,S0WV00215,jean paula swearengin,C,0.00,5284.51,18240.27,0.0,S,WV,DEM,-5284.51
3750,S8WV00119,jean paula swearengin,C,0.00,5284.51,18240.27,0.0,S,WV,DEM,-5284.51
3758,S6WV00147,derrick jonathan evans,NaN,1000209.37,945262.85,54946.52,0.0,S,WV,REP,54946.52
3759,S8WV00127,h evan jenkins,C,0.00,0.00,10.26,600.0,S,WV,REP,0.00

In [4]:
df2 = pd.read_csv('data/newPoll/house_polls.csv')
df2 = df2[['candidate_name','pct', 'created_at']]
df2['created_at'] = pd.to_datetime(df2['created_at'], format="%m/%d/%y %H:%M")
df2 = df2.sort_values(by='created_at', ascending=False)

# Drop duplicates based on 'CAND_ID', keeping the latest row
df2 = df2.drop_duplicates(subset=['candidate_name'], keep='first')

# Reset the index
df2 = df2.reset_index(drop=True).drop('created_at', axis=1)

# Show the first 5 rows to verify that the file has been read correctly
print(df2.head())

          candidate_name   pct
0      Derrick Van Orden  48.0
1          Rebecca Cooke  49.0
2            Angie Craig  49.0
3  Thomas William Bowman   3.0
4             Joe Teirab  41.0

In [5]:
df2['candidate_name'] = df2['candidate_name'].str.lower()
matches = pd.merge(df1, df2,
                   left_on='CAND_NAME', right_on='candidate_name', how='inner')

# Display the matching names and count them
print(f"Number of matching names: {matches.shape[0]}")
matches

Number of matching names: 89

,CAND_ID,CAND_NAME,CAND_ICI,receipts,disbursements,cash_on_hand,DEBTS_OWED_BY,election_type,state,CAND_PTY_AFFILIATION,Net_Cash_Flow,candidate_name,pct
0,H4AL02220,caroleene dobson,C,2182190.47,1746874.86,471813.59,1385000.00,H,AL,REP,435315.61,caroleene dobson,39.0
1,H2AZ02311,kirsten engel,C,3717049.89,1154339.00,3197698.37,0.00,H,AZ,DEM,2562710.89,kirsten engel,44.0
2,H2AZ02360,juan ciscomani,I,3480709.81,1821029.31,2667947.02,0.00,H,AZ,REP,1659680.50,juan ciscomani,43.0
3,H8CA10126,josh harder,I,3464745.90,1338137.95,3320559.77,0.00,H,CA,DEM,2126607.95,josh harder,40.0
4,H4CA12154,lateefah simon,O,1407418.70,1141230.14,266188.56,0.00,H,CA,DEM,266188.56,lateefah simon,41.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,H4WI03169,rebecca cooke,C,2007509.37,1416946.51,590562.86,0.00,H,WI,DEM,590562.86,rebecca cooke,49.0
85,H4WI03201,katrina shankland,C,867511.52,677850.82,189660.70,6000.00,H,WI,DEM,189660.70,katrina shankland,46.5
86,S8MI00372,john james,C,6741.17,7064.83,102345.86,0.00,S,MI,REP,-323.66,john james,47.0
87,S8MT00218,troy downing,C,0.00,0.00,10134.38,282156.32,S,MT,REP,0.00,troy downing,52.0
88,S8UT00242,mike kennedy,O,0.00,0.00,0.00,422543.19,S,UT,REP,0.00,mike kennedy,61.4

In [6]:
# Calculate the average cash on hand (COH_COP)
average_receipts = matches['receipts'].mean()

# Label candidates based on financial struggles (low COH_COP) and tight races (polling between 45% and 55%)
matches['high_impact'] = 0  # Default label for low impact
matches.loc[
    (matches['receipts'] < average_receipts) &  # Below average cash on hand
    (matches['pct'] >= 45) & (matches['pct'] <= 55),  # Polling percentage between 45% and 55%
    'high_impact'
] = 1

In [7]:
matches

,CAND_ID,CAND_NAME,CAND_ICI,receipts,disbursements,cash_on_hand,DEBTS_OWED_BY,election_type,state,CAND_PTY_AFFILIATION,Net_Cash_Flow,candidate_name,pct,high_impact
0,H4AL02220,caroleene dobson,C,2182190.47,1746874.86,471813.59,1385000.00,H,AL,REP,435315.61,caroleene dobson,39.0,0
1,H2AZ02311,kirsten engel,C,3717049.89,1154339.00,3197698.37,0.00,H,AZ,DEM,2562710.89,kirsten engel,44.0,0
2,H2AZ02360,juan ciscomani,I,3480709.81,1821029.31,2667947.02,0.00,H,AZ,REP,1659680.50,juan ciscomani,43.0,0
3,H8CA10126,josh harder,I,3464745.90,1338137.95,3320559.77,0.00,H,CA,DEM,2126607.95,josh harder,40.0,0
4,H4CA12154,lateefah simon,O,1407418.70,1141230.14,266188.56,0.00,H,CA,DEM,266188.56,lateefah simon,41.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,H4WI03169,rebecca cooke,C,2007509.37,1416946.51,590562.86,0.00,H,WI,DEM,590562.86,rebecca cooke,49.0,1
85,H4WI03201,katrina shankland,C,867511.52,677850.82,189660.70,6000.00,H,WI,DEM,189660.70,katrina shankland,46.5,1
86,S8MI00372,john james,C,6741.17,7064.83,102345.86,0.00,S,MI,REP,-323.66,john james,47.0,1
87,S8MT00218,troy downing,C,0.00,0.00,10134.38,282156.32,S,MT,REP,0.00,troy downing,52.0,1
88,S8UT00242,mike kennedy,O,0.00,0.00,0.00,422543.19,S,UT,REP,0.00,mike kennedy,61.4,0

In [8]:
df = matches[['CAND_ID', 'CAND_NAME', 'CAND_PTY_AFFILIATION', 'election_type', 'high_impact']]

df = df.rename(columns={
    'CAND_ID': 'id',
    'CAND_NAME': 'name',
    'CAND_PTY_AFFILIATION': 'party'
})

df['issueScores'] = df.apply(
    lambda row: {"Flipping the House": row['high_impact']} if row['election_type'] == 'H' 
    else {"Flipping the Senate": row['high_impact']} if row['election_type'] == 'S' 
    else {}, axis=1
)

records = df.to_dict(orient='records')
records[0]

{'id': 'H4AL02220',
 'name': 'caroleene dobson',
 'party': 'REP',
 'election_type': 'H',
 'high_impact': 0,
 'issueScores': {'Flipping the House': 0}}

In [9]:
duplicate_names = df[df.duplicated(subset=['name'], keep=False)]
duplicate_names

,id,name,party,election_type,high_impact,issueScores
40,H2MI10150,john james,REP,H,0,{'Flipping the House': 0}
43,H4MT02098,troy downing,REP,H,1,{'Flipping the House': 1}
79,H4UT03260,mike kennedy,REP,H,0,{'Flipping the House': 0}
83,H2WI03130,rebecca cooke,DEM,H,1,{'Flipping the House': 1}
84,H4WI03169,rebecca cooke,DEM,H,1,{'Flipping the House': 1}
86,S8MI00372,john james,REP,S,1,{'Flipping the Senate': 1}
87,S8MT00218,troy downing,REP,S,1,{'Flipping the Senate': 1}
88,S8UT00242,mike kennedy,REP,S,0,{'Flipping the Senate': 0}

In [10]:
# from pymongo import MongoClient

# # Connect to MongoDB Atlas
# import certifi
# client = MongoClient("mongodb+srv://seekContact:seekContact@cluster27242.rl8uzla.mongodb.net/", tlsCAFile=certifi.where())

# # Replace <dbname> with your database name
# db = client['seekContact']  # Your MongoDB Atlas database name

# # Replace 'candidates' with your collection name
# collection = db['candidates']  # Your MongoDB Atlas collection name

# # Insert the records into MongoDB
# collection.insert_many(records)

# # Close the MongoDB connection
# client.close()